fastapi==0.129.0
uvicorn==0.41.0
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.52.1
httpx

scikit-learn==1.8.0
lightgbm==4.6.0
xgboost==2.1.4
shap==0.50.0
imbalanced-learn
joblib==1.5.3

numpy==2.3.5
pandas==2.2.3
scipy==1.17.0
matplotlib
seaborn
contourpy
cycler
fonttools
kiwisolver
pyparsing
python-dateutil

numba==0.63.1
llvmlite==0.46.0

streamlit>=1.44.0
altair>=5.5.0

mlflow
psutil
cloudpickle
tqdm
six
slicer
tzdata
typing_extensions
anyio
click
colorama
h11
idna
pillow